* {box-sizing:border-box}
/* thiết lập style thẻ chứa skillbar */
 .container {
   width: 100%; /* Toàn màn hình */
   background-color: #ddd; /* thiết lập background */
 }
.skills {
   text-align: right; /* canh chữ cho chữ */
   padding-top: 10px; /* thêm top padding */
   padding-bottom: 10px; /* thêmbottom padding */
   color: #000; /* thiết lập màu chữ */
 }
 .html {width: 90%; background-color: DarkOrange;} 
 .css {width: 80%; background-color: DodgerBlue;} 
 .js {width: 65%; background-color: Yellow;}
